* {
  padding: 0;
  margin: 0;
}
.snow {
  position: absolute;
  top: 0;
}
.snow_wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0e6345;
  margin: 0 auto;
}
.snow .snow_inner {
  width: 20px;
  height: 20px;
  background-image: url(../images/particular_snow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.snow_1 {
  left: calc((100vw - 20px) * 0.5107906782803873);
  animation: __ani-snow__y 4.15s linear infinite;
  animation-delay: -1.23s;
}
.snow_1 .snow_inner {
  transform: scale(0.63834075);
}
.snow_2 {
  left: calc((100vw - 20px) * 0.5415937429458035);
  animation: __ani-snow__y 4.21s linear infinite;
  animation-delay: -0.62s;
}
.snow_2 .snow_inner {
  transform: scale(1.29348295);
}
.snow_3 {
  left: calc((100vw - 20px) * 0.12130627584862608);
  animation: __ani-snow__y 4.25s linear infinite;
  animation-delay: -7.70s;
}
.snow_3 .snow_inner {
  transform: scale(1.58130091);
}
.snow_4 {
  left: calc((100vw - 20px) * 0.4670982397259529);
  animation: __ani-snow__y 6.63s linear infinite;
  animation-delay: -0.81s;
}
.snow_4 .snow_inner {
  transform: scale(0.97043787);
}
.snow_5 {
  left: calc((100vw - 20px) * 0.984815565852349);
  animation: __ani-snow__y 6.91s linear infinite;
  animation-delay: -3.43s;
}
.snow_5 .snow_inner {
  transform: scale(1.59045132);
}
.snow_6 {
  left: calc((100vw - 20px) * 0.1647842527518535);
  animation: __ani-snow__y 5.20s linear infinite;
  animation-delay: -1.20s;
}
.snow_6 .snow_inner {
  transform: scale(0.79178817);
}
.snow_7 {
  left: calc((100vw - 20px) * 0.14320416177590944);
  animation: __ani-snow__y 5.18s linear infinite;
  animation-delay: -1.91s;
}
.snow_7 .snow_inner {
  transform: scale(0.66113774);
}
.snow_8 {
  left: calc((100vw - 20px) * 0.5287622602109441);
  animation: __ani-snow__y 6.24s linear infinite;
  animation-delay: -4.71s;
}
.snow_8 .snow_inner {
  transform: scale(0.99647108);
}
.snow_9 {
  left: calc((100vw - 20px) * 0.19977394743968402);
  animation: __ani-snow__y 4.12s linear infinite;
  animation-delay: 0.19s;
}
.snow_9 .snow_inner {
  transform: scale(0.72595366);
}
.snow_10 {
  left: calc((100vw - 20px) * 0.7345376687375484);
  animation: __ani-snow__y 4.11s linear infinite;
  animation-delay: -5.52s;
}
.snow_10 .snow_inner {
  transform: scale(1.56909246);
}
.snow_11 {
  left: calc((100vw - 20px) * 0.3736002746334224);
  animation: __ani-snow__y 5.54s linear infinite;
  animation-delay: -0.32s;
}
.snow_11 .snow_inner {
  transform: scale(0.52816899);
}
.snow_12 {
  left: calc((100vw - 20px) * 0.04991545828385591);
  animation: __ani-snow__y 4.20s linear infinite;
  animation-delay: -5.63s;
}
.snow_12 .snow_inner {
  transform: scale(0.60705335);
}
.snow_13 {
  left: calc((100vw - 20px) * 0.28095894120242204);
  animation: __ani-snow__y 5.32s linear infinite;
  animation-delay: -0.86s;
}
.snow_13 .snow_inner {
  transform: scale(0.57465248);
}
.snow_14 {
  left: calc((100vw - 20px) * 0.3548623901389387);
  animation: __ani-snow__y 4.79s linear infinite;
  animation-delay: -2.30s;
}
.snow_14 .snow_inner {
  transform: scale(0.80812822);
}
.snow_15 {
  left: calc((100vw - 20px) * 0.8664931166400067);
  animation: __ani-snow__y 5.17s linear infinite;
  animation-delay: -2.38s;
}
.snow_15 .snow_inner {
  transform: scale(0.75749826);
}
.snow_16 {
  left: calc((100vw - 20px) * 0.4171993680213528);
  animation: __ani-snow__y 5.36s linear infinite;
  animation-delay: -0.54s;
}
.snow_16 .snow_inner {
  transform: scale(0.55816997);
}
.snow_17 {
  left: calc((100vw - 20px) * 0.6509973927864647);
  animation: __ani-snow__y 7.26s linear infinite;
  animation-delay: -5.52s;
}
.snow_17 .snow_inner {
  transform: scale(0.9107814);
}
.snow_18 {
  left: calc((100vw - 20px) * 0.2733617592590518);
  animation: __ani-snow__y 7.21s linear infinite;
  animation-delay: -7.42s;
}
.snow_18 .snow_inner {
  transform: scale(1.14088949);
}
.snow_19 {
  left: calc((100vw - 20px) * 0.8039678124804612);
  animation: __ani-snow__y 5.40s linear infinite;
  animation-delay: -0.50s;
}
.snow_19 .snow_inner {
  transform: scale(1.47661821);
}
.snow_20 {
  left: calc((100vw - 20px) * 0.14778337196651137);
  animation: __ani-snow__y 6.07s linear infinite;
  animation-delay: -1.38s;
}
.snow_20 .snow_inner {
  transform: scale(1.08955136);
}
.snow_21 {
  left: calc((100vw - 20px) * 0.8435124602412365);
  animation: __ani-snow__y 4.29s linear infinite;
  animation-delay: -1.39s;
}
.snow_21 .snow_inner {
  transform: scale(1.02138419);
}
.snow_22 {
  left: calc((100vw - 20px) * 0.92478278807272);
  animation: __ani-snow__y 5.73s linear infinite;
  animation-delay: -3.13s;
}
.snow_22 .snow_inner {
  transform: scale(1.14044018);
}
.snow_23 {
  left: calc((100vw - 20px) * 0.3776231976553823);
  animation: __ani-snow__y 4.69s linear infinite;
  animation-delay: -2.57s;
}
.snow_23 .snow_inner {
  transform: scale(0.88967703);
}
.snow_24 {
  left: calc((100vw - 20px) * 0.8572963690317823);
  animation: __ani-snow__y 4.11s linear infinite;
  animation-delay: -2.69s;
}
.snow_24 .snow_inner {
  transform: scale(1.10481438);
}
.snow_25 {
  left: calc((100vw - 20px) * 0.5989303223698599);
  animation: __ani-snow__y 4.86s linear infinite;
  animation-delay: -6.75s;
}
.snow_25 .snow_inner {
  transform: scale(0.58298263);
}
@keyframes __ani-snow__y {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100vh, 0);
  }
}
/* lessc --js ./css/demo-snow.less ./css/demo-snow.css */
