* {
  padding: 0;
  margin: 0;
}
.snow {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/particular_snow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.snow_wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0e6345;
  margin: 0 auto;
}
.snow_1 {
  left: calc((100vw - 20px) * 0.2862071945782314);
  animation: __ani-snow__y 7.05s linear infinite;
  animation-delay: 0.04s;
  transform: scale(0.73682972);
}
.snow_2 {
  left: calc((100vw - 20px) * 0.7259526414296871);
  animation: __ani-snow__y 7.35s linear infinite;
  animation-delay: -2.04s;
  transform: scale(0.96835734);
}
.snow_3 {
  left: calc((100vw - 20px) * 0.7254128997832954);
  animation: __ani-snow__y 6.15s linear infinite;
  animation-delay: -1.10s;
  transform: scale(0.66533188);
}
.snow_4 {
  left: calc((100vw - 20px) * 0.5567866012759917);
  animation: __ani-snow__y 4.95s linear infinite;
  animation-delay: -1.49s;
  transform: scale(0.90168616);
}
.snow_5 {
  left: calc((100vw - 20px) * 0.1678900912244814);
  animation: __ani-snow__y 7.20s linear infinite;
  animation-delay: -4.03s;
  transform: scale(0.7698072);
}
.snow_6 {
  left: calc((100vw - 20px) * 0.7050763498748449);
  animation: __ani-snow__y 6.90s linear infinite;
  animation-delay: -1.60s;
  transform: scale(0.71293089);
}
.snow_7 {
  left: calc((100vw - 20px) * 0.7188115770990251);
  animation: __ani-snow__y 7.23s linear infinite;
  animation-delay: -1.62s;
  transform: scale(0.68599872);
}
.snow_8 {
  left: calc((100vw - 20px) * 0.27778767370371416);
  animation: __ani-snow__y 6.41s linear infinite;
  animation-delay: -7.03s;
  transform: scale(0.93046989);
}
.snow_9 {
  left: calc((100vw - 20px) * 0.7237580121620768);
  animation: __ani-snow__y 6.10s linear infinite;
  animation-delay: -4.75s;
  transform: scale(0.55176802);
}
.snow_10 {
  left: calc((100vw - 20px) * 0.5596371459012959);
  animation: __ani-snow__y 5.12s linear infinite;
  animation-delay: -2.87s;
  transform: scale(0.82713342);
}
.snow_11 {
  left: calc((100vw - 20px) * 0.917797421895707);
  animation: __ani-snow__y 4.33s linear infinite;
  animation-delay: -4.23s;
  transform: scale(0.97829172);
}
.snow_12 {
  left: calc((100vw - 20px) * 0.5285224677933662);
  animation: __ani-snow__y 5.30s linear infinite;
  animation-delay: -3.70s;
  transform: scale(0.56729947);
}
.snow_13 {
  left: calc((100vw - 20px) * 0.6730179362393949);
  animation: __ani-snow__y 6.39s linear infinite;
  animation-delay: -5.28s;
  transform: scale(0.92002008);
}
.snow_14 {
  left: calc((100vw - 20px) * 0.6448744833657789);
  animation: __ani-snow__y 5.53s linear infinite;
  animation-delay: 0.05s;
  transform: scale(0.59269358);
}
.snow_15 {
  left: calc((100vw - 20px) * 0.8446527192738116);
  animation: __ani-snow__y 7.05s linear infinite;
  animation-delay: -0.99s;
  transform: scale(0.73435692);
}
.snow_16 {
  left: calc((100vw - 20px) * 0.46424633591427056);
  animation: __ani-snow__y 5.01s linear infinite;
  animation-delay: -4.90s;
  transform: scale(0.85253417);
}
@keyframes __ani-snow__y {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100vh, 0);
  }
}
/* lessc --js ./css/demo-snow.less ./css/demo-snow.css */
